@charset "utf-8";
/* 
    @ 规则
        @charset    设置样式表的编码
        @import     导入其它样式文件
        @media      媒体查询
        @font-face  自定义字体
*/
@import "reset.css";

/* 引入 iconfont 图标 */
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont/iconfont.eot');
    src: url('../font/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/iconfont/iconfont.woff2') format('woff2'),
        url('../font/iconfont/iconfont.woff') format('woff'),
        url('../font/iconfont/iconfont.ttf') format('truetype'),
        url('../font/iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 头部信息 */
#headMessage li {
    float: left;
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
    font-size: 0;
}
#headMessage span {
    font-size: 12px;
    color: #6c6c6c;
}
#headMessage .login span {
    color: #F40;
    padding-right: 8px;
}
#headMessage a:hover span {
    color: #F40;
}

#headMessage .iconfont.arrow {
    padding-left: 6px;
}
#headMessage .iconfont.shoppingcart {
    padding-right: 4px;
    color: #F40;
}
#headMessage .shoppingnum {
    font-size: 12px;
    color: #F40;
}
#headMessage .iconfont.favorites {
    color: #9c9c9c;;
}
#headMessage .line {
    color: #dcdcdc;
    font-weight: 100;
}
#headMessage .iconfont.menu {
    color: #F40;
    padding-right: 4px;
}

#headAd {
    background-color: #f40d4d;
    height: 70px;
}
#headAd img {
    width: 1190px;
    height: 70px;
}

