@charset "utf-8";
/* 
    @ 规则
        @charset    设置样式表的编码
        @import     导入其它样式文件
        @media      媒体查询
        @font-face  自定义字体
*/
@import "reset.css";

/* 引入 iconfont 图标 */
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont/iconfont.eot');
    src: url('../font/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/iconfont/iconfont.woff2') format('woff2'),
        url('../font/iconfont/iconfont.woff') format('woff'),
        url('../font/iconfont/iconfont.ttf') format('truetype'),
        url('../font/iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 头部信息 */
#headMessage li {
    float: left;
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
    font-size: 0;
}
#headMessage span {
    font-size: 12px;
    color: #6c6c6c;
}
#headMessage .login span {
    color: #F40;
    padding-right: 8px;
}
#headMessage a:hover span {
    color: #F40;
}

#headMessage .iconfont.arrow {
    padding-left: 6px;
}
#headMessage .iconfont.shoppingcart {
    padding-right: 4px;
    color: #F40;
}
#headMessage .shoppingnum {
    font-size: 12px;
    color: #F40;
}
#headMessage .iconfont.favorites {
    color: #9c9c9c;;
}
#headMessage .line {
    color: #dcdcdc;
    font-weight: 100;
}
#headMessage .iconfont.menu {
    color: #F40;
    padding-right: 4px;
}

#headAd {
    background-color: #f40d4d;
    height: 70px;
}
#headAd img {
    width: 1190px;
    height: 70px;
}

/* <!-- 头部搜索 --> */
#headSearch {
    background-color: #fff;
    padding: 24px 0 10px;
}
#headSearch h1 a {
    display: block;
    width: 142px;
    height: 0;
    padding-top: 58px;
    margin-left: 22px;
    background: url(../image/logo-143-59.png) no-repeat 0 0;
    text-indent: -9999px;
    overflow: hidden;
}

#headSearch .code {
    width: 74px;
    height: 88px;
    border: 1px solid #eee;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-right: 110px;
}
#headSearch .code img {
    width: 62px;
    height: 62px;
}
#headSearch .code .close {
    position: absolute;
    left: -16px;
    top: -1px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    border: 1px solid #eee;
    color: #ddd;
}

#headSearch .search {
    width: 630px;
    margin: 0 auto;
}
#headSearch .searchTab {
    height: 22px;
    line-height: 22px;
    padding-left: 17px;
}
#headSearch .searchTab li {
    float: left;
    width: 36px;
    height: 22px;
    line-height: 22px;
    color: #f40;
    margin-right: 4px;
    cursor: pointer;
    text-align: center;
}
#headSearch .searchTab li.active {
    color: #fff;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-image: linear-gradient(to right, #ff9000, #ff5000);
}

#headSearch .searchContent{
    height: 40px;
    line-height: 40px;
}
#headSearch .searchContent .searchBox {
    box-sizing: border-box;
    width: 556px;
    height: 40px;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    overflow: hidden;
    position: relative;
}
#headSearch .searchContent .searchBox input {
    width: 472px;
    padding: 6px 0;
    height: 24px;
    line-height: 24px;
    text-indent: 12px;
    border: none;
    outline: none;
    position: absolute;
    z-index: 100;
    background-color: transparent;
}
#headSearch .searchContent .searchBox .placeholder {
    position: absolute;
    left: 12px;
    padding: 6px 0;
    height: 24px;
    line-height: 24px;
}
#headSearch .searchContent .searchBox .placeholder i {
    color: #666;
}
#headSearch .searchContent .searchBox .placeholder span {
    color: #ddd;
}
#headSearch .searchContent .searchBox .photo {
    position: absolute;
    top: -1px;
    right: 22px;
    font-size: 24px;
    cursor: pointer;
}
#headSearch .searchContent .searchBtn {
    width: 74px;
    height: 40px;
}
#headSearch .searchContent .searchBtn button {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-image: linear-gradient(to right, #ff9000, #ff5000);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    cursor: pointer;
}

#headSearch .hotKey {
    height: 18px;
    line-height: 18px;   
    margin: 5px 0;
    overflow: hidden;
}
#headSearch .hotKey a {
    white-space: nowrap;
}
#headSearch .hotKey a:hover {
    color: #f50;
}

/* <!-- 导航栏 --> */
#nav {

}
#nav h2 {
    float: left;
    width: 190px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background-color: #ff5000;
}
#nav ul {
    margin-left: 190px;
    background-image: linear-gradient(to right, #ff9000, #ff5000);
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
}
#nav ul li {
    float: left;
    position: relative;
    padding: 0 3px;
    padding: 0 4px;
}
#nav ul li a {
    padding: 0 5px;
    color: #fff;
}
#nav ul li a:hover::before {
    position: absolute;
    top: -15px;
    left: calc(50% - 16px);
    display: block;
    content: '';
    width: 30px;
    height: 16px;
    background-image: url(../image/nav-hover.png);
    background-repeat: no-repeat;
}
#nav ul li.line {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 0;
    margin: 0;
}

/* 首屏内容 */
/* 左侧内容 */
#firstScreen .main {
    width: 900px;
}
/* 左侧导航 */
#firstScreen .nav {
    float: left;
    width: 190px;
    height: 522px;
    border: 1px solid #ff5000;
    border-top: none;
    box-sizing: border-box;
    padding: 5px 0 3px;
}
#firstScreen .nav li {
    height: 32px;
    line-height: 32px;
    padding: 0 19px 0 15px;
    font-size: 14px;
    color: #999999;
    position: relative;
    transition: background-color 0.3s;
}
#firstScreen .nav li a {
    color: #666666;
}
#firstScreen .nav li span {
    position: absolute;
    right: 10px;
    font-size: 12px;
}

#firstScreen .nav li:hover {
    color: #ff5000;
    background-color: #ffe4dc;
}
#firstScreen .nav li:hover a {
    color: #ff5000;
}
#firstScreen .nav li a:hover {
    text-decoration: underline;
}
/* 主广告区域 */
#firstScreen .core-ad {
    float: left;
    width: 520px;
    height: 512px;
    border: 1px solid red;
}
/* 子广告区域 */
#firstScreen .sub-ad {
    float: right;
    width: 160px;
    height: 512px;
    border: 1px solid blue;
}

/* 右侧内容 */
#firstScreen .col-right {
    width: 290px;
    height: 522px;
    border: 1px solid red;
    box-sizing: border-box;
}